body{/*------design the background image------*/
  background: url(image/quizbg.jpg) no-repeat;
  background-size: cover;
  background-color: black;
  font-family: Georgia;
}

fieldset{/*------set the fieldset size------*/
  color: #b9bbde;
  font-size: 20px;
  border-radius: 10px;
  width: 60%;
  margin: 0 0 0 20%;
}

#icon1{/*------set the img size------*/
  width: 100px;
  height: 100px;
  float: left;
  padding: 0px 20px 0px 0px;
}

#c_img{/*------set the img size------*/
  width: 200px;
  height: 200px;
  overflow: hidden;
  float: right;
  padding: 0px 20px 0px 0px;;
}

#c1_img{/*------set the img size------*/
  width: 100%;
  height: 100%;
}


/* ----------------------------------- */
#bgb{/*------set the quest background------*/
  background: hsl(106, 10%, 26%);
  border-radius: 12px;
  opacity: 0.9;
  box-shadow: 4px 4px 15px 3px #000000;
  padding: 15px;
  margin: 5px;
  color: #f8dd45;
}

legend{/*------set the quest title------*/
  text-shadow: 1.7px 1.3px 0.5px hsl(106, 10%, 26%);
  font-size: 26px
}

/*------for javascript------*/
.textdiv{ /*------new text effect------*/
  color:red;
  background: lightblue;
  border: 1px solid blue;
  display: inline-flex;
  position:relative;
  top: 2px;
  opacity: 0.5;
  transition: all 2s;
}

.textdiv2{/*------new text effect------*/
  color:red;
  background: lightblue;
  border: 1px solid blue;
  width: 60%;
  text-align: center;
  position:relative;
  top: 2px;
  opacity: 0.5;
  transition: all 2s;
}
.textdiv3{/*------hidden the text------*/
  display: none;
}
/*<!------------------------menu------------------!>*/
/*------design a tags for the menu------*/
.menu ul {
  border: 1px solid blue;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 150px;
  background-color: #724951;
  display: inline-block;
  box-shadow: white -0.4em 0em 0.4em;
  font-size: 20px;
  z-index: 1;
}
/*------design the menu while howering------*/
.menu a {
  border: 1px solid white;
  padding: 10px;
  line-height: 1.2em;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
}

.menu a:hover {
  background-color: #66bab1;
  color: black;
}

.menu .sub {
  position: absolute;
}

.menu .sub a:hover {
  background-color: lightblue;
}

.menu .sub li {
  overflow: hidden;
  height: 0px;
  transition: height 400ms;
}

.menu ul li:hover .sub li {
  height: 40px;
}

/*<--------------small--------------->*/
@media only screen and (max-width:700px){
  fieldset{/*------reset the fieldset size------*/
  font-size: 15px;
  border-radius: 10px;
  width: 80%;
  margin: 0 0 0 10%;
  }
  
  #icon1{/*------reset the size and positon of img-----*/
    float: right;
  }
  #c_img{
  width: 100px;
  height: 100px;
  float: right;
  padding: 0px 10px 0px 0px;;
 
}
}

